<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BiosMoneyApp.Properties.Settings.BiosMoneyConnectionString"
            connectionString="Data Source=JUNA;Initial Catalog=BiosMoney;Persist Security Info=True;User ID=juna"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMiServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57110/MiServicio.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMiServicio" contract="ServicioWCF.IMiServicio"
                name="BasicHttpBinding_IMiServicio" />
        </client>
    </system.serviceModel>
</configuration>